Business Process Engine/src/main/java/META-INF/Process.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.laiwenqiang.com/spring/schema/people"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.xway/schema/pvm"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="vm">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
				    <xsd:attribute name="name" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="repository">
	</xsd:element>
	
</xsd:schema>
